{% extends 'base.html' %}

{% block titulo %}Consulta Administrativos{% endblock %}

{% block contenido %}
  <div>
    <div class="col-sm-12">
        <div id="form-izquierda" class="col-sm-2 well well-sm">
            <h5>Filtrar por:</h5>
            <form action="/administrativos/" method="post" id="form-cons-doc">
                {% csrf_token %}
                <hr>
                <div id="anio">
                    <label for="anio">Año: </label>
                    <select class="form-control" id="anio" name="anio">
                        <option value="0">Todos</option>
                        {% for a in anios %}
                            {% if anioSel == a %}
                                <option value="{{ a }}" selected>{{ a }}</option>
                            {% else %}
                                <option value="{{ a }}">{{ a }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <hr>
                <div id="dependencia">
                    <label for="dependencia">Dependencia:</label>
                    <select class="form-control" id="dependencia" name="dependencia">
                        <option value="0">Todas</option>
                        {% for dep in dependencias %}
                            {% if dependenciaSel == dep.id %}
                                <option value="{{dep.id }}" selected>{{ dep.dependencia_nombre }}</option>
                            {% else %}
                                <option value="{{dep.id }}">{{ dep.dependencia_nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <hr>
                <div id="fecha_desde">
                    <label for="fecha_desde">Desde:</label>
                    {% if fechaDesdeSel != "" %}
                        <input type="date" placeholder="Fecha desde" id="fecha_desde" name="fecha_desde" value="{{ fechaDesdeSel }}">
                    {% else %}
                        <input type="date" placeholder="Fecha desde" id="fecha_desde" name="fecha_desde">
                    {% endif %}
                </div>
                <hr>
                <div id="fecha_hasta">
                    <label for="fecha_hasta">Hasta:</label>
                    {% if fechaHastaSel != "" %}
                        <input type="date" placeholder="Fecha hasta" id="fecha_hasta" name="fecha_hasta" value="{{ fechaHastaSel }}">
                    {% else %}
                        <input type="date" placeholder="Fecha hasta" id="fecha_hasta" name="fecha_hasta">
                    {% endif %}
                </div>
                <hr>
                <div class="btn-group-vertical" style="width: 100%">
                    <button type="submit"class="btn btn-info" onclick="validarFechas()">
                        <img src="../static/img/icono_filtrar-white_24.png">
                        Filtrar
                    </button>
                    <a class="btn btn-success" href="/administrativos">Nueva consulta</a>
                </div>
            </form>
        </div>
        <div id="contenido-consulta" clasS="col-sm-10">
            {% if administrativos.count > 0 %}
                <div style="display: inline-block">
                    <div style="float:left">
                        <h5>Lista del Personal con horas cátedras de la Universidad del Chubut</h5>
                        <h6>(se encontraron {{ administrativos.count }} resultados, de un total de {{ total_adms }} personas)</h6>
                    </div>
                    <div style="float:left;padding: 10px">
                        <a href="/admin/export/xls/" class="btn btn-success">
                        <img src="../static/img/icon_excel-white_24.png"></a>
                    </div>
                </div>
                <div id="datosAdministrativos">
                    <!--<input class="search col-sm-4" style="margin-bottom: 10px; width: 100%" placeholder="Buscar por número de resolución" id="inputBuscarAdmin">-->
                    <table class="table table-hover table-bordered table-condensed tblconsulta">
                        <thead>
                            <tr>
                                <th>Legajo</th>
                                <th>Nombre y Apellido</th>
                                <th>CUIL</th>
                                <th class="sort" data-sort="nroresolucion" style="width: 125px">Resolución <i class="glyphicon glyphicon-chevron-up"></i><i class="glyphicon glyphicon-chevron-down"></i></th>
                                <th>Inicio</th>
                                <th>Fin</th>
                                <th>Horas Cátedras</th>
                                <th>Dependencia</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% for p in administrativos %}
                                <tr>
                                    <td>{{ p.persona.legajo_numero }}</td>
                                    <td>{{ p.persona.apellidos }}, {{ p.persona.nombres }}</td>
                                    <td>{{ p.persona.cuil }}</td>
                                    <td class="nroresolucion">{{ p.resolucion_numero }}/{{ p.resolucion_anio }}-UDC</td>
                                    <td>{{ p.fecha_inicio | date:"d/m/Y" }}</td>
                                    <td>{{ p.fecha_fin | date:"d/m/Y" }}</td>
                                    <td>{{ p.hs_catedras }}</td>
                                    <td>{{ p.dependencia.dependencia_nombre }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    <h3>No se encontró ningún resultado según los filtros marcados.</h3>
                </div>
            {% endif %}
        </div>
    </div>
  </div>

<script>
    var options = {
        valueNames: ["nroresolucion"]
    };
    var administradoresList = new List("datosAdministrativos", options)
</script>
{% endblock %}
