{% extends 'base.html' %}
{% block titulo %}Consulta Docentes{% endblock %}

{% block contenido %}
    <div class="col-sm-12">
        <div id="form-izquierda" class="col-sm-2 well well-sm">
            <h5 style="background-color: #1b6d85; padding: 10px; color: white;text-align: center"><b>Filtrar por</b></h5>
            <form action="/docentes/" method="post" id="form-cons-doc">
            {% csrf_token %}
                <hr>
                <div id="sede">
                    <label for="sede">Sede: </label>
                    <select class="form-control" id="sede" name="sede">
                        <option value="0">Todas</option>
                        {% for sede in sedes %}
                            {% if sedeSel == sede.id %}
                                <option value="{{ sede.id }}" selected>{{ sede.sede_nombre }}</option>
                            {% else %}
                                <option value="{{ sede.id }}">{{ sede.sede_nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <hr>
                <div id="carrera">
                    <label for="carrera">Carreras: </label>
                    <select class="form-control" id="carrera" name="carrera">
                        <option value="0">Todas</option>
                        {% for c in carreras %}
                            {% if carreraSel == c.id %}
                                <option value="{{ c.id }}" selected>{{ c.carrera_nombre }}</option>
                            {% else %}
                                <option value="{{ c.id }}">{{ c.carrera_nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <hr>
                <div id="anio">
                    <label for="anio">Año: </label>
                    <select class="form-control" id="anio" name="anio">
                        <option value="0">Todos</option>
                        {% for a in anios %}
                            {% if anioSel == a %}
                                <option value="{{ a }}" selected>{{ a }}</option>
                            {% else %}
                                <option value="{{ a }}">{{ a }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <hr>
                <div id="resnro">
                    <label for="resnro">Resolución N°</label>
                    {% if resnro != 0 %}
                        <input style="width:100%"  type="number" placeholder="Nro. de resolución" min="1" id="res_nro" name="res_nro" value="{{ resnro }}">
                    {% else %}
                        <input style="width:100%"  type="number" placeholder="Nro. de resolución" min="1" id="res_nro" name="res_nro">
                    {% endif %}
                </div>
                <!--<hr>
                <div id="fecha_desde">
                    <label for="fecha_desde">Desde:</label>
                    {% if fechaDesdeSel != "" %}
                        <input style="width:100%"  type="date" placeholder="Fecha desde" id="fecha_desde" name="fecha_desde" value="{{ fechaDesdeSel }}">
                    {% else %}
                        <input style="width:100%"  type="date" placeholder="Fecha desde" id="fecha_desde" name="fecha_desde">
                    {% endif %}
                </div>
                <hr>
                <div id="fecha_hasta">
                    <label for="fecha_hasta">Hasta:</label>
                    {% if fechaHastaSel != "" %}
                        <input style="width:100%"  type="date" placeholder="Fecha hasta" id="fecha_hasta" name="fecha_hasta" value="{{ fechaHastaSel }}">
                    {% else %}
                        <input style="width:100%"  type="date" placeholder="Fecha hasta" id="fecha_hasta" name="fecha_hasta">
                    {% endif %}
                </div>-->
                <hr>
                <div id="fecha_desde_v">
                    <label for="fecha_desde_v">Desde (Vigencia):</label>
                    {% if fechaDesdeVigSel != "" %}
                        <input style="width:100%" type="date" placeholder="Fecha desde" id="fecha_desde_v" name="fecha_desde_v" value="{{ fechaDesdeVigSel }}">
                    {% else %}
                        <input style="width:100%" type="date" placeholder="Fecha desde" id="fecha_desde_v" name="fecha_desde_v">
                    {% endif %}
                </div>
                <hr>
                <div id="fecha_hasta_v">
                    <label for="fecha_hasta_v">Hasta (Vigencia):</label>
                    {% if fechaHastaVigSel != "" %}
                        <input style="width:100%" type="date" placeholder="Fecha hasta" id="fecha_hasta_v" name="fecha_hasta_v" value="{{ fechaHastaVigSel }}">
                    {% else %}
                        <input style="width:100%" type="date" placeholder="Fecha hasta" id="fecha_hasta_v" name="fecha_hasta_v">
                    {% endif %}
                </div>
                <hr>
                <div class="btn-group-vertical" style="width: 100%">
                    <button type="submit"class="btn btn-info" onclick="validarFechas()">
                        <img src="../static/img/icono_filtrar-white_24.png">
                        Filtrar
                    </button>
                    <a class="btn btn-success" href="/docentes">Nueva consulta</a>
                </div>
            </form>
        </div>
        <div id="contenido-consulta" clasS="col-sm-10">
            {% if docentes.count > 0 %}
                <div style="display: inline-block">
                    <div style="float:left">
                        <h4>Lista del Personal docente de la Universidad del Chubut</h4>
                        <h5>(se encontraron <span class="badge">{{ docentes.count }}</span> resultados, de un total de <span class="badge">{{ total_docs }}</span> asignaciones)</h5>
                        <h5 style="color: red">({{ total_docs_baja }} son asignaciones dadas de baja)</h5>
                    </div>
                    {% if isGet == False %}
                    <div style="float:left;padding: 10px">
                        <a href="/doc/export/xls/" class="btn btn-success">
                        <!--<img src="../static/img/icon_excel-white_24.png"></a>-->
                        <img src="../static/img/icon_excel-color_32.png"> Total de horas a liquidar <b>{{ totalhoras }}</b></a>
                    </div>
                    {% endif %}
                </div>
                <div id="datosDocentes">
                    <table class="table table-hover table-bordered table-condensed tblconsulta">
                        <thead>
                            <tr>
                                <th>Legajo</th>
                                <th>Nombre y apellido</th>
                                <th>Sede</th>
                                <th>Carrera</th>
                                <th>Materia</th>
                                <th class="sort" data-sort="resolunro" style="width: 125px">Res. Nro. <i class="glyphicon glyphicon-chevron-up"></i><i class="glyphicon glyphicon-chevron-down"></i></th>
                                <th class="sort" data-sort="resoluanio" style="width: 125px">Res. Año <i class="glyphicon glyphicon-chevron-up"></i><i class="glyphicon glyphicon-chevron-down"></i></th>
                                <th>Desde</th>
                                <th>Hasta</th>
                                <th>Fecha Baja</th>
                                <th>Horas</th>
                                <th>Hs. Total</th>
                                <th>Hs a liquidar</th>
                                <th>Año Académico</th>
                                <th>Periodo</th>
                            </tr>
                        </thead>
                        {% if isGet == False %}
                        <tbody class="list">
                            {% for d in docentes %}
                                {% if d.baja %}
                                <tr style="color: red">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td>{{ d.persona.legajo_numero }}</td>
                                    <td>{{ d.persona.apellidos }}, {{ d.persona.nombres }}</td>
                                    <td>{{ d.sede }}</td>
                                    <td>{{ d.materia.plan.carrera.carrera_nombre }}</td>
                                    <td>{{ d.materia.materia_nombre }}</td>
                                    <td class="resolunro">{{ d.resolucion_numero }}</td>
                                    <td class="resoluanio">{{ d.resolucion_anio }}</td>
                                    <td>{{ d.fecha_inicio | date:"d/m/Y" }}</td>
                                    <td>{{ d.fecha_fin | date:"d/m/Y" }}</td>
                                    <td>{{ d.fecha_baja | date:"d/m/Y" }}</td>
                                    <td>{{ d.materia.hs_semanales }}</td>
                                    <td>{{ d.materia.hs_total_materia }}</td>
                                    <td>
                                        {% for l in lista_hs %}
                                            {% if d.id == l.id_doc %}
                                                {{ l.tot_hs }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ d.materia.anio_academico }}</td>
                                    <td>{{ d.materia.periodo.periodo_nombre }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
                {% if isGet %}
                    <div class="alert alert-success">
                        <h4>Para obtener todas las asignaciones haga clic en "Filtrar" sin ninguna opción seleccionada.</h4>
                    </div>
                {% endif %}
            {% else %}
                <div class="alert alert-warning">
                    <h3>No se encontró ningún resultado según los filtros marcados.</h3>
                </div>
            {% endif %}
        </div>
    </div>

<script>
    var options = {
        valueNames: ["resolunro","resoluanio"]
    };
    var administradoresList = new List("datosDocentes", options)
</script>
{% endblock %}
