{% extends 'base.html' %}
{% block titulo %}Agregar materia{% endblock %}

{% block contenido %}
    <h3>Asignar una materia a {{ persona.apellidos }}, {{ persona.nombres }}</h3>
    <div class="well form-horizontal">
        <form method="POST">
            {% csrf_token %}
            <!--{{ form.as_p }}
            <hr><hr> -->
              <div class="form-group">
                <label for="resolucion_numero" class="col-sm-2 control-label">Resolución Número</label>
                <div class="col-sm-3">
                    <input type="number" id="id_resolucion_numero" name="resolucion_numero" class="col-sm-12" placeholder="Resolución de la asignación" required>
                </div>
              </div>
              {% if form.resolucion_numero.errors %}
                <div class="alert alert-danger">Error en el Número de Resolución ({{ form.resolucion_numero.errors }})</div>
              {% endif %}

              <div class="form-group">
                <label for="resolucion_anio" class="col-sm-2 control-label">Año</label>
                <div class="col-sm-3">
                    <select class="form-control" id="resolucion_anio" name="resolucion_anio" required>
                        {% for anio in anios %}
                            <option value="{{ anio }}">{{ anio }}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>

              <div class="form-group">
                  <label for="remunerado" class="col-sm-2 control-label">Remunerado</label>
                  <div class="radio col-sm-5">
                      {% for r in remunerados %}
                          <label>
                            <input type="radio" name="remunerado" id="id_remunerado" value="{{ r }}" required>
                            {{ r }}
                          </label>
                      {% endfor %}
                  </div>
              </div>

              <div class="form-group">
                <label for="carrera" class="col-sm-2 control-label">Carrera</label>
                <div class="col-sm-5">
                    <select class="form-control" id="id_carrera" name="carrera" onchange="filtroPorCarrera()">
                        <option value="-1" selected>Seleccionar</option>
                        {% for c in carreras %}
                            <option value="{{ c.carrera_abreviada }}">({{ c.carrera_abreviada }}) {{ c.carrera_nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>

              <div class="form-group">
                <label for="materia" class="col-sm-2 control-label">Materia</label>
                <div class="col-sm-8">
                    <select class="form-control" id="id_materia" name="materia">
                        <option value="-1" selected>Seleccionar</option>
                        {% for m in materias %}
                            <option value="{{ m.id }}">({{ m.plan.carrera.carrera_abreviada }}) | Año {{ m.anio_academico }} - {{ m.periodo.periodo_nombre }} | {{ m.materia_nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>

              <div class="form-group">
                <label for="sede" class="col-sm-2 control-label">Sede</label>
                <div class="col-sm-3">
                    <select class="form-control" id="id_sede" name="sede">
                        <option value="-1" selected>Seleccionar</option>
                        {% for s in sedes %}
                            <option value="{{ s.id }}">{{ s.sede_nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>

              <!--<div class="form-group">
                  <label for="sede" class="col-sm-2 control-label">Sede</label>
                  <div class="radio col-sm-5">
                      {% for s in sedes %}
                          <label>
                            <input type="radio" name="sede" id="id_sede" value="{{ s.id }}" required>
                            {{ s.sede_nombre }}
                          </label>
                      {% endfor %}
                  </div>
              </div>-->

              <div class="form-group">
                  <label for="docente_tipo" class="col-sm-2 control-label">Tipo de Docente</label>
                  <div class="radio col-sm-5">
                      {% for dt in docenteTipos %}
                          <label>
                            <input type="radio" name="docente_tipo" id="id_docente_tipo" value="{{ dt.id }}" required>
                            {{ dt.tipo_docente }}
                          </label>
                      {% endfor %}
                  </div>
              </div>

              <div class="form-group">
                <label for="fecha_inicio" class="col-sm-2 control-label">Asignar desde</label>
                <div class="col-sm-3">
                    <input type="date" id="id_fecha_inicio" name="fecha_inicio" class="col-sm-12" placeholder="Fecha de inicio de la asignación" required>
                </div>
              </div>
              {% if form.fecha_inicio.errors %}
                <div class="alert alert-danger">Error en Fecha Desde ({{ form.fecha_inicio.errors }})</div>
              {% endif %}

              <div class="form-group">
                <label for="fecha_fin" class="col-sm-2 control-label">Asignar hasta</label>
                <div class="col-sm-3">
                    <input type="date" id="id_fecha_fin" name="fecha_fin" class="col-sm-12" placeholder="Fecha de fin de la asignación" required>
                </div>
              </div>
              {% if form.fecha_fin.errors %}
                <div class="alert alert-danger">Error en Fecha Inicio ({{ form.fecha_fin.errors }})</div>
              {% endif %}

              <div class="btn-group">
                <button type="submit" class="save btn btn-success">Asignar</button>
                <a href="/personas" class="btn btn-warning"> volver a la lista</a>
              </div>
        </form>
    </div>
{% endblock %}
