{% extends 'base.html' %}
{% block titulo %}Inicio{% endblock %}

{% block contenido %}
    <div class="well well-lg">
        <div>
            <h3>Sistema de Gestión de Horas Cátedras de la Universidad del Chubut</h3>
            <div>
                <p>Version actual: {{ version }}</p>
                <ul>
                    Cambios de la versión
                    {% if cambios.count > 0 %}
                        {% for c in cambios %}
                            <li>{{ c }}</li>
                        {% endfor %}
                    {% else %}
                        <p class="alert alert-warning">No se registran cambios en esta versión del sistema de horas cátedras</p>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
