{% extends 'base.html' %}
{% block titulo %}Certificado de Prestación de Servicios{% endblock %}

{% block contenido %}
    {% if docHoras.count > 0 %}
        <div class="panel panel-warning">
            <div class="panel-heading"><h5 class="panel-title">Listado de horas docentes asignadas</h5></div>
            <div class="panel-body">
                <table class="table table-responsive table-bordered table-hover tblconsulta">
                    <thead>
                        <tr>
                            <th>Cargo o Función</th>
                            <th>Resolución</th>
                            <th>Desde</th>
                            <th>Hasta</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for dh in docHoras %}
                        <tr>
                            <td>Docente {{ dh.docente_tipo.tipo_docente }} de la asignatura "{{ dh.materia }}" de la carrera {{ dh.materia.plan.carrera.carrera_nombre }}</td>
                            <td>Res. N° {{ dh.resolucion_numero }}/{{ dh.resolucion_anio }}-UDC</td>
                            <td>{{ dh.fecha_inicio | date:"d/m/Y" }}</td>
                            <td>{{ dh.fecha_fin | date:"d/m/Y" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% if persHoras.count > 0 %}
        <div class="panel panel-success">
            <div class="panel-heading"><h5 class="panel-title">Listado de horas administrativas asignadas</h5></div>
            <div class="panel-body">
                <table class="table table-responsive table-bordered table-hover tblconsulta">
                    <thead>
                        <tr>
                            <th>Cargo o Función</th>
                            <th>Resolución</th>
                            <th>Desde</th>
                            <th>Hasta</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ph in persHoras %}
                        <tr>
                            <td>{{ ph.dependencia }}</td>
                            <td>Res. N° {{ ph.resolucion_numero }}/{{ ph.resolucion_anio }}-UDC</td>
                            <td>{{ ph.fecha_inicio | date:"d/m/Y" }}</td>
                            <td>{{ ph.fecha_fin | date:"d/m/Y" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    <div class="well well-sm">
        <div class="btn-group">
            {% if docHoras.count > 0 or persHoras.count > 0 %}
                <a style="margin-bottom: 10px" href="/doc/export/{{ persona.id }}/certprestserv/" class="btn btn-info">
                    Generar Certificado de Prestación de Servicios de <b>{{ persona.apellidos }}, {{ persona.nombres }}</b>
                    <img src="../../../static/img/icon_word-color_32.png">
                </a>
            {% endif %}
            <a href="/personas/{{ persona.id }}/ver" class="btn btn-warning btn-lg" title="Volver a ver las opciones del agente de la UDC.">
            <i class="glyphicon glyphicon-dashboard"></i> Opciones del Agente</a>
        </div>
    </div>

{% endblock %}
