{% extends 'base.html' %}
{% block titulo %}Agregar Persona{% endblock %}

{% block contenido %}
    <form action="/personas/nueva/" method="POST">
        {% csrf_token %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Agregar una nueva Persona al sistema</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="apellidos" class="col-sm-4 control-label">Apellido/s (*)</label>
                        <div class="col-sm-8">
                            {% if form.apellidos.value %}
                                <input type="text" id="id_apellidos" minlength="2" maxlength="40" class="col-sm-12" name="apellidos" placeholder="Ingrese su apellido o apellidos" required value="{{ form.apellidos.value }}">
                            {% else %}
                                <input type="text" id="id_apellidos" minlength="2" maxlength="40" class="col-sm-12" name="apellidos" placeholder="Ingrese su apellido o apellidos" required>
                            {% endif %}
                            {% if form.apellidos.errors %}<h6 class="alert alert-danger">{{ form.apellidos.errors }}</h6>{% endif %}
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="nombres" class="col-sm-4 control-label">Nombre/s (*)</label>
                        <div class="col-sm-8">
                            {% if form.nombres.value %}
                                <input type="text" id="id_nombres" maxlength="40" minlength="2" class="col-sm-12" name="nombres" placeholder="Ingrese su nombre o nombres" required value="{{ form.nombres.value }}">
                            {% else %}
                                <input type="text" id="id_nombres" maxlength="40" minlength="2" class="col-sm-12" name="nombres" placeholder="Ingrese su nombre o nombres" required>
                            {% endif %}
                            {% if form.nombres.errors %}<h6 class="alert alert-danger">{{ form.nombres.errors }}</h6>{% endif %}
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="cuil" class="col-sm-4 control-label">C.U.I.L. (*)</label>
                        <div class="col-sm-8">
                            {% if form.cuil.value %}
                                <input type="number" id="id_cuil" name="cuil" min="1001000000" max="99999999999" class="col-sm-12" placeholder="Ingrese el C.U.I.L." required value="{{ form.cuil.value }}">
                            {% else %}
                                <input type="number" id="id_cuil" name="cuil" min="1001000000" max="99999999999" class="col-sm-12" placeholder="Ingrese el C.U.I.L." required>
                            {% endif %}
                            {% if form.cuil.errors %}<h6 class="alert alert-danger">{{ form.cuil.errors }}</h6>{% endif %}
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="fecha_nacimiento" class="col-sm-4 control-label">Fecha de Nacimiento</label>
                        <div class="col-sm-8">
                            <!--{{ form.fecha_nacimiento }}-->
                            {% if form.fecha_nacimiento.value %}
                                <input type="date" id="id_fecha_nacimiento" name="fecha_nacimiento" value="{{ form.fecha_nacimiento.value }}">
                            {% else %}
                                <input type="date" id="id_fecha_nacimiento" name="fecha_nacimiento">
                            {% endif %}
                            {% if form.fecha_nacimiento.errors %}<h6 class="alert alert-danger">{{ form.fecha_nacimiento.errors }}</h6>{% endif %}
                        </div>
                     </div>
                     <div class="form-group">
                          <label for="sexo" class="col-sm-4 control-label">Sexo (*)</label>
                          <div class="radio col-sm-8">
                              {% for s in sexos %}
                                  <label>
                                    {% if form.sexo.value == s %}
                                        <input type="radio" name="sexo" id="id_sexo" value="{{ s }}" required checked> {{ s }}
                                    {% else %}
                                        <input type="radio" name="sexo" id="id_sexo" value="{{ s }}" required> {{ s }}
                                    {% endif %}
                                  </label>
                              {% endfor %}
                          </div>
                     </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="legajo_numero" class="col-sm-4 control-label">Número de Legajo (*)</label>
                        <div class="col-sm-8">
                            {% if form.legajo_numero.value %}
                                <input type="number" id="id_legajo_numero" min="1" name="legajo_numero" class="col-sm-12" placeholder="Ingrese el legajo de la Persona" required value="{{ form.legajo_numero.value }}">
                            {% else %}
                                <input type="number" id="id_legajo_numero" min="1" name="legajo_numero" class="col-sm-12" placeholder="Ingrese el legajo de la Persona" required>
                            {% endif %}
                            {% if form.legajo_numero.errors %}<h6 class="alert alert-danger">{{ form.legajo_numero.errors }}</h6>{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telefono" class="col-sm-4 control-label">Teléfono</label>
                        <div class="col-sm-8">
                            {% if form.telefono.value %}
                                <input type="tel" id="id_telefono" name="telefono" placeholder="Ingrese el teléfono" name="telefono" value="{{ form.telefono.value }}">
                            {% else %}
                                <input type="tel" id="id_telefono" name="telefono" placeholder="Ingrese el teléfono" name="telefono">
                            {% endif %}
                            {% if form.telefono.errors %}<h6 class="alert alert-danger">{{ form.telefono.errors }}</h6>{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">E-Mail</label>
                        <div class="col-sm-8">
                            {% if form.email.value %}
                                <input type="email" id="id_email" name="email" placeholder="Ingrese el correo electrónico" name="email" value="{{ form.email.value }}">
                            {% else %}
                                <input type="email" id="id_email" name="email" placeholder="Ingrese el correo electrónico" name="email">
                            {% endif %}
                            {% if form.email.errors %}<h6 class="alert alert-danger">{{ form.email.errors }}</h6>{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="antiguedad" class="col-sm-4 control-label">Antiguedad (*)</label>
                        <div class="col-sm-8">
                            {% if form.antiguedad.value %}
                                <input type="number" id="id_antiguedad" name="antiguedad" min="0" placeholder="Ingrese la antiguedad" name="antiguedad" required value="{{ form.antiguedad.value }}">
                            {% else %}
                                <input type="number" id="id_antiguedad" name="antiguedad" min="0" placeholder="Ingrese la antiguedad" name="antiguedad" required>
                            {% endif %}
                            {% if form.antiguedad.errors %}<h6 class="alert alert-danger">{{ form.antiguedad.errors }}</h6>{% endif %}
                        </div>
                    </div>
                </div>
                <input type="hidden" name="activo" value="1" id="id_activo" name="activo">
            </div>
            <div class="panel-footer">
                <div class="btn-group">
                    <button type="submit" class="save btn btn-success">
                    <i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                    <button type="reset" class="save btn btn-default">
                    <i class="glyphicon glyphicon-erase"></i> Borrar datos</button>
                    <a href="/personas/" class="btn btn-danger" title="Cancelar la creación del personal.">
                    <i class="glyphicon glyphicon-remove"></i> Cancelar</a>
                </div>
            </div>
        </div>
     </form>

{% endblock %}
